html {
    font-family: verdana;
}

form {
    text-align: left;
}

input {
    width: 70px;
}

.row > * {
    display: inline-block;
}

.row {
    overflow: hidden;
}

p {
    font-size: 30px;
}

button {
    font-size: 20px;
    padding: 10px;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 10px;
}
