<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <form action="{{ url_for('user_page') }}" method="get">
            <p>Hi {{ g.user_name }}, you've successfully logged in</p>
            <p><input type="submit" name="action" value="return to login page"></p>
        </form>
        <form action="{{ url_for('plot') }}" method="post">
            <p>calculate input:</p>
            <p>
                <label for="loan_amount_yuan">loan amount</label>
                <input type="text" name="loan_amount_yuan" value={{ g.calc_input['loan_amount_yuan'] }}>
                <label for="loan_amount_yuan">yuan</label>
            </p>
            <p>
                <label for="yearly_interest_rate">yearly interest rate</label>
                <input type="text" name="yearly_interest_rate" value={{ g.calc_input['yearly_interest_rate'] }}>
                <label for="yearly_interest_rate">%</label>
            </p>
            <p>
                <label for="year_limit">year limit</label>
                <input type="text" name="year_limit" value={{ g.calc_input['year_limit'] }}>
                <label for="year_limit">years</label>
            </p>
            <p><input type="submit" name="action" value="calculate"></p>
        </form>
        <p>{{ g.chart }}</p>
    </body>
</html>
